/* Root */
.family-home {
  background-color: #efefef;
  min-height: 100vh;
}

/* SEARCH */
.search-filters {
  padding: 0  clamp(1rem, 5vw, 4rem) 1rem;
}

.search-input {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.3rem 0rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* FILTERS */
.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;

  justify-content: center;   /* centers horizontally */
}

.filter-row input {
  flex: 1;
  min-width: 120px;
  padding: 0.25rem;
}

.reset-btn {
  padding: 0.4rem 2rem;
  background: #444;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* SPACING */
.top-spacing {
  height: 5rem;
}

/* SECTION */
.houses-section {
  max-width: min(1200px, 90vw);
  margin: 2rem auto;
}

/* CARD */
.house-card {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px;
}

/* IMAGE */
.house-image {
  width: 100%;
  max-width: none;   
  height: clamp(200px, 30vw, 400px);
  object-fit: cover;
}

/* CONTENT */
.house-content {
  padding: clamp(1rem, 2vw, 2rem);
  background: white;
}

.price {
  margin: 0.3rem 0;
}

.address {
  font-size: 0.95rem;
  color: #555;
}

/* GRID */
.house-grid {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #555;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem 1rem;
}

/* EMPTY */
.no-results {
  padding: 1rem;
}

/* ========================= */
/* DESKTOP ENHANCEMENT */
/* ========================= */
@media (min-width: 900px) {

  .houses-section {
    max-width: 1100px;
  }

  .house-card {
    flex-direction: row;
  }

  .house-image {
    width: 50%;
    height: auto;
  }

  .house-content {
    width: 50%;
  }
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-toggle {
  background: rgb(0,0,0,0);
  color: #fff;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}


.back-btn {
  color: #fff;
  font-weight: 500;
}

.search-filters {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding: 0 clamp(1rem, 5vw, 4rem);
}

/* OPEN STATE */
.search-filters.open {
  max-height: 500px;   /* big enough to fit content */
  opacity: 1;
  padding-bottom: 1rem;
}